<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @catalago.vehicle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @catalago.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @catalago.photo %>
</p>

<%= link_to 'Edit', edit_catalago_path(@catalago) %> |
<%= link_to 'Back', catalagos_path %>
