<h1>Pagina de Pruebas de Login 2</h1>
<br>
<hr>

<h2>Usuarios registrados</h2>
<%@users.each do |user|%>
  <h5><b>Id: </b> <%=user.id%> <b>Name: </b><%=user.name%> <b>Email: </b> <%=user.email%> <b>Password: </b><%=user.password%></h5>
<%end%>

<hr>

<h2>Login de Usuario</h2>
<br>
<form action="#">
  Email: <input type="text" name="email"><br>
  Password: <input type="password" name="pass"><br>
  <input type="submit" value="Submit">
</form>

<hr>
<h2>Creacion de Cuentas</h2>

<%= form_for(@userCreation) do |us| %>

<div class="field">
  Name <%= us.text_field :name , placeholder: "Name"%>
</div>

<div class="field">
  Email <%= us.text_field :email , placeholder: "Email" %>
</div>

<div class="field">
  Password <%= us.text_field :password , placeholder: "Password"%>
</div>

<div class="field">
  Retype Password <%= us.text_field :password , placeholder: "Repassword"%>
</div>

<div class="field">
  <%= us.submit  "Save" %>
</div>

<%end%>
